.Nav {
  background: #141414;
  color: #141414;
}

.nav-container {
  margin: 0;
}

.brand-image {
  justify-content: left;
  margin: 10px;
}

.nav-collapse {
  justify-content: right;
}

.nav-button {
  color: grey;
  margin: 10px;
}

a.nav-link:hover {
  color: grey;
}

a.nav-link:visited {
  color: white;
}

a.nav-link:focus {
  color: white;
}

@media only screen and (max-width: 390px) {
  .nav-container {
    max-width: fit-content;
  }
}
